@model Albums.Models.Album
@{
	ViewData["Title"] = "Create";
}

<h3>Crear registro</h3>

<form asp-action="Create" method="post" >
	<div class="form-group">
		<label for="Name">Título</label>
		<input type="text" class="form-control" asp-for="Name"/>
	</div>

	<div class="form-group">
		<label for="Author">Autor</label>
		<input type="text" class="form-control" asp-for="Author" />
	</div>

	<div class="form-group">
		<label for="Date">Fecha de lanzamiento</label>
		<input type="date" class="form-control" asp-for="Date" />
	</div>
	<div class="form-group">
		<label for="GenreId">Género</label>
		<select asp-for="GenreId" asp-items="ViewBag.Genres" class="form-control" ></select>
	</div>

	<button typeof="submit" class="btn btn-primary">Aceptar</button>



</form>