@model Albums.Models.Album;
@{
	ViewData["Title"] = "Delete";
}

<h3>¿Estás seguro de querer eliminar el registro?</h3>

<p>@Model.Name</p>
<p>@Model.Date.ToString()</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id" />
	<input type="submit" class="btn btn-danger" value="Delete" />

</form>