@model List<Albums.Models.Album>

@{ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
	<thead>
		<tr>
			<th>Título</th>
			<th>Fecha de lanzamiento</th>

		</tr>
	</thead>

	<tbody>
		
			@foreach (var album in Model)
			{
			<tr>
				<td>@album.Name</td>
				<td>@album.Date.ToString();</td>
				<td><a asp-action="Edit" asp-route-id="@album.Id">Editar</a></td>
				<td><a asp-action="Delete" asp-route-id="@album.Id">Eliminar</a></td>
			</tr>	
			}
		
	</tbody>

</table>