@model List<Albums.Models.Album>

@{ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
	<thead>
		<tr>
			<th>Título</th>
			<th>Fecha de lanzamiento</th>

		</tr>
	</thead>

	<tbody>
		<tr>
			@foreach (var album in Model)
			{
				<td>@album.Name</td>
				<td>@album.Date.ToString();</td>

				@*
				ACCIONES AÚN NO CREADAS	
				<td>
					<a asp-action="Edit" asp-route-id="@album.Id">Editar</a>
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@album.Id">Eliminar</a>
				</td>*@

				
				


			}
		</tr>
	</tbody>

</table>